@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

h1.hero {
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-style: italic;
}

p.under {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2.about {
    font-size:3rem !important;
    line-height: 3rem
}

div.about-container{
    padding: 10px;
    margin: 0

}

div.about-container > p{
    padding: 0px;
    margin: 0;
    color: #ffffff;
    font-size: 16px
}

div.about-container > p,
div.about-container > h2,
div.about-container > ul,
div.about-container > li {
    text-shadow: 0px 5px 5px #E75286;
    font-size: 16px
}


.link-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center
}

@media (max-width: 480px) {
    div.about-container > p{
        font-size: 14px
    }
    
    div.about-container > p,
    div.about-container > h2,
    div.about-container > ul,
    div.about-container > li {
        text-shadow: 0px 5px 5px #E75286;
        font-size: 14px
    }
}



@media (max-width: 576px) {
    div.about-container > p{
        font-size: 14px
    }
    
    div.about-container > p,
    div.about-container > h2,
    div.about-container > ul,
    div.about-container > li {
        text-shadow: 0px 5px 5px #E75286;
        font-size: 14px
    }
}


@media (max-width: 850px) {
    div.about-container > p{
        font-size: 14px
    }
    
    div.about-container > p,
    div.about-container > h2,
    div.about-container > ul,
    div.about-container > li {
        text-shadow: 0px 5px 5px #E75286;
        font-size: 14px
    }
}